<div class="mb-4">
  <h1 class="mb-0"><%= t("admin.server_stats.show.title", id: @server_stat.id) %></h1>
  <%= render(Admin::ShowActionsComponent.new(
    back_path: admin_server_stats_path,
    actions: [
      { path: admin_server_path(@server_stat.server), label: ServerStat.human_attribute_name(:server) },
      { path: admin_game_path(@server_stat.game), label: ServerStat.human_attribute_name(:game) },
    ]
  )) %>
</div>

<%= render(Admin::DetailsTableComponent.new(
  sections: [
    {
      title: t("admin.shared.details"),
      rows: [
        [t("admin.shared.id"), @server_stat.id],
        [
          ServerStat.human_attribute_name(:server),
          link_to(@server_stat.server.name, admin_server_path(@server_stat.server)),
        ],
        [
          ServerStat.human_attribute_name(:game),
          link_to(@server_stat.game.name, admin_game_path(@server_stat.game)),
        ],
        [ServerStat.human_attribute_name(:period), content_tag(:code, @server_stat.period)],
        [ServerStat.human_attribute_name(:reference_date), l(@server_stat.reference_date), { copyable: true }],
        [ServerStat.human_attribute_name(:vote_count), @server_stat.vote_count],
        [
          ServerStat.human_attribute_name(:ranking_number),
          @server_stat.ranking_number,
        ],
        [
          ServerStat.human_attribute_name(:vote_count_consolidated_at),
          @server_stat.vote_count_consolidated_at ? l(@server_stat.vote_count_consolidated_at) : nil,
          { copyable: true },
        ],
        [
          ServerStat.human_attribute_name(:ranking_number_consolidated_at),
          @server_stat.ranking_number_consolidated_at ? l(@server_stat.ranking_number_consolidated_at) : nil,
          { copyable: true },
        ],
        [t("admin.shared.created"), l(@server_stat.created_at), { copyable: true }],
        [t("admin.shared.updated"), l(@server_stat.updated_at), { copyable: true }],
      ],
    },
  ],
)) %>
