<p>
  <%= t("users_mailer.change_email_confirmation.greeting", change_email: @change_email) %>
</p>

<p>
  <%= t("users_mailer.change_email_confirmation.requested_change", email: @email, change_email: @change_email) %>
</p>

<p>
  <%= t("users_mailer.change_email_confirmation.verification_code_intro") %>
</p>

<p>
  <%= @change_email_confirmation_code %>
</p>
