<p>
  <%= t("users_mailer.email_confirmation.greeting", email: @email) %>
</p>

<p>
  <%= t("users_mailer.email_confirmation.verification_code_intro") %>
</p>

<p>
  <%= @email_confirmation_code %>
</p>
