<turbo-frame id="<%= turbo_frame_id %>" data-admin-fetchable-multi-select-filter-target="optionsFrame" role="group">
  <div data-admin-fetchable-multi-select-filter-target="optionsList" role="group">
    <%= render("options", options: options, selected_ids: selected_ids) %>
  </div>
</turbo-frame>
