# sudo env HOME=$HOME USER=$USER LOGNAME=$USER bash
# export BWS_ACCESS_TOKEN=
# export BWS_PROJECT_ID=
# bin/kamal deploy

service: webapp

image: uppertown/webapp

servers:
  web:
    hosts:
      - upper.town
  workers:
    hosts:
      - upper.town
    cmd: bin/jobs

ssh:
  user: app
  port: 22
  config: true
  keys_only: true
  keys:
    - "~/.ssh/app-uppertown-production"

proxy:
  ssl: true
  host: upper.town
  response_timeout: 60
  healthcheck:
    interval: 5
    path: /up
    timeout: 60

registry:
  server: localhost:5555

env:
  clear:
    APP_ENV: production
    APP_HOST: upper.town
    APP_PORT: 3000
    RAILS_ENV: production
    RAILS_MAX_THREADS: 5
    POSTGRES_POOL: 25
    POSTGRES_HOST: webapp-postgres
    NOREPLY_EMAIL: noreply@upper.town
    PERIODS_MIN_PAST_TIME: "2024-01-01T00:00:00Z"
  secret:
    - POSTGRES_USER
    - POSTGRES_PASSWORD
    - RAILS_MASTER_KEY
    - SECRET_KEY_BASE
    - ACTIVE_RECORD_ENCRYPTION_PRIMARY_KEY
    - ACTIVE_RECORD_ENCRYPTION_DETERMINISTIC_KEY
    - ACTIVE_RECORD_ENCRYPTION_KEY_DERIVATION_SALT
    - H_CAPTCHA_SITE_KEY
    - H_CAPTCHA_SECRET_KEY
    - TOKEN_SALT
    - TOKEN_SESSION_SALT
    - TOKEN_API_SESSION_SALT
    - TOKEN_ADMIN_SALT
    - TOKEN_ADMIN_SESSION_SALT
    - TOKEN_ADMIN_API_SESSION_SALT
    - CODE_SALT
    - CODE_ADMIN_SALT
    - SUPER_ADMIN_ACCOUNT_IDS

aliases:
  console: app exec --interactive --reuse "bin/rails console"
  shell: app exec --interactive --reuse "bash"
  logs: app logs -f
  dbc: app exec --interactive --reuse "bin/rails dbconsole --include-password"

volumes:
  - /mnt/uppertown_production_webapp_volume/storage:/rails/storage

asset_path: /rails/public/assets

builder:
  arch: amd64
  local: true

accessories:
  postgres:
    image: postgres:18.0
    host: upper.town
    port: "127.0.0.1:5432:5432" # POSTGRES_PORT
    env:
      secret:
        - POSTGRES_USER
        - POSTGRES_PASSWORD
    volumes:
      - /mnt/uppertown_production_webapp_volume/postgres:/var/lib/postgresql
