<p>
  <%= t("admin_users_mailer.password_reset.greeting", email: @email) %>
</p>

<p>
  <%= t("admin_users_mailer.password_reset.verification_code_intro") %>
</p>

<p>
  <%= @password_reset_code %>
</p>
